body {
  font-family: "Roboto", sans-serif !important;
  font-size: 14px;
  line-height: 20px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  background-color: #af792c;
  padding: 10px;
  color: #ffff;
  align-items: center;
}

.navigation__icon {
  padding: 3px;
}

.navigation__logo {
  height: 36px;
}

.board {
  padding: 15px;
  display: flex;
  align-items: flex-start;
}

.list {
  width: 272px;
  background-color: #ebecf0;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  border-radius: 4px;
}

.list__action {
  width: 272px;
  padding: 15px;
  background-color: #e0b478;
  border-radius: 5px;
  cursor: pointer;
}

.list__action-btn {
  color: white;
}

.list__title {
  font-weight: 600;
  margin-left: 10px;
  padding: 15px 10px 15px 5px;
  display: flex;
  justify-content: space-between;
}

.card {
  cursor: pointer;
  margin: 0px 10px 10px 10px;
  padding: 10px 10px 10px 5px;
  background-color: white;
  box-shadow: 0 1px 0 #091e4240;
}

.card__btn {
  margin: 0px 10px 10px 10px;
  padding: 10px 10px 10px 5px;
  cursor: pointer;
  color: gray;
}

.card__icon {
  display: block;
  margin-top: 10px;
}

.badge {
  width: 40px;
  height: 8px;
  border-radius: 4px;
  margin-bottom: 4px;
  background-color: #d9b51d;
}
