.card {
  cursor: pointer;
  margin: 0px 10px 10px 10px;
  padding: 10px 10px 10px 5px;
  background-color: white;
  box-shadow: 0 1px 0 #091e4240;
}

.card__icon {
  display: block;
  margin-top: 10px;
}

.action-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-hover {
  margin-left: 4px;
}

.icon-hover:hover {
  background-color: wheat;
}

.badge-warn {
  width: 40px;
  height: 8px;
  border-radius: 4px;
  margin-bottom: 4px;
  background-color: #d9b51d;
}

.badge-danger {
  width: 40px;
  height: 8px;
  border-radius: 4px;
  margin-bottom: 4px;
  background-color: red;
}

.modal-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-box > h1 {
  font-size: 24px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group > input {
  margin-bottom: 5px;
}

.modal-form-btn {
  margin-top: 10px;
}
